body {
  background-color: #222;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

#header {
  background-color: #333;
  color: #fff;
}

#footer {
  background-color: #333;
  color: #bbb;
}

.card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.modal-header {
  background-color: #444;
  color: #fff;
}

.modal-content {
  background-color: #222;
  color: #ddd;
}
